<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header.html' %}
    <a href="{{ format_get_params(page=page - 1) }}">prev page</a>
    <a href="{{ format_get_params(page=page + 1) }}">next page</a>
    <table border="1">
        <tr>
            <th><a href="?sort=id">ID</a></th>
            <th><a href="{{ format_get_params(sort='first_name') }}">First name</a></th>
            <th><a href="?sort=last_name">Last name</a></th>
            <th><a href="?sort=last_update">Last updated</a></th>
        </tr>
        {% for actor in data %}
            <tr>
                <td>{{ actor.actor_id }}</td>
                <td>{{actor.first_name}}</td>
                <td>{{actor.last_name}}</td>
                <td>{{actor.last_update}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>